#selected{
    background-color: red;
    height: 100%;
    /* font-size: 16px; */
    width: 200px;
    position:absolute;
    z-index: 2;
}
#navOption>:nth-child(1){
    z-index: 3;
}
*{
    margin: 0px;
    padding: 0px;
}
#nav{
    background-color: #027bc7;
    display: flex;
    /* margin: auto; */
}
#logo{
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
width: 220px;
margin-left: 20px;
margin-right: 100px;
}
#logo>a{
   display: flex;
   text-decoration: none;
   color: white;
}
#logo>a:focus{
   display: flex;
   text-decoration: none;
   color: white;
}
#logoImg{
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    font-size: 35px;
}
#credit{
    font-size: 12px;
margin-top: 13%;
}
#navOption{
    position: relative;
    display: inline-flex;
    width: 800px;
    justify-content: space-between;
    font-size: 0;
}
#navOption>a{
    font-size: 18px;
    color: white;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    position: relative;
    /* width: 220px; */
    text-align: center;
    top: 35%;
    /* height: 100%; */
/* border: 2px solid white; */
z-index: 1;
}

#navOption>.animation{
    position: absolute;
    height: 100%;
    border-radius: 5px;
    top: 0;
    z-index: 0;
    background-color: #0067a7;
    transition: all .3s ease 0s;
}
#navOption>:nth-child(1){
width: 200px;
}
#navOption>:nth-child(1):hover{
cursor:default;
}
#navOption>:nth-child(2){
width: 200px;
}
#navOption>:nth-child(2):hover~.animation{
    width: 200px;
    left: 200px;
}
#navOption>:nth-child(3){
width: 200px;
}
#navOption>:nth-child(3):hover~.animation{
    width: 200px;
    left: 400px;
}
#navOption>:nth-child(4){
width: 200px;
}
#navOption>:nth-child(4):hover~.animation{
    width: 200px;
    left: 600px;
}
#body{
    /* border: 2px solid red; */
    width: 700px;
    text-align: center;
    margin: auto;
    margin-top: 100px;
    /* width: 200px; */
}
#body>h2{
 font-family: 'Poppins', sans-serif;
 color: #0067a7;
 margin-bottom: 40px;
}
#body>p{
/* background-color: red; */
padding: 20px;
border: 1px solid grey;
background-color:#ececec;
margin-bottom: 40px;
}
#body>div{
/* width: 100%; */
display: flex;
justify-content: center;
gap: 20px;

}
#body>div>button{
width: 100%;
height: 40px;
border: 1px solid #0067a7;
background-color: white;
color: #0067a7;
margin-bottom: 40px;
font-family: 'Poppins', sans-serif;
}
#body>div>button:hover{
width: 100%;
height: 40px;
border: 1px solid white;
background-color: #0067a7;
color: white;
margin-bottom: 40px;
cursor: pointer;
}

#description{
    text-align: start;
}


